<span class="mdl-list__item-primary-content shop">
  <a href="{{map_link}}">
    <span><span class="shop--name">{{name}}</span></span>
    <span class="mdl-list__item-sub-title shop--sales-time">{{time_until_sale_relative}}</span>
  </a>
</span>
<span class="mdl-list__item-secondary-content">
  <span class="mdl-list__item-secondary-info shop--distance">{{distance}} km</span>
  <a class="mdl-list__item-secondary-action" href="{{map_link}}"><i class="material-icons">directions</i></a>
</span>
